In [0]:
%sql
SELECT * FROM sales LIMIT 5;

id,date,sale,city
100,2023-10-28,4002,Suva
101,2023-08-29,5983,Alor Star
102,2023-10-15,6643,Adak
103,2023-10-03,5027,Palikir
104,2023-10-19,3667,Mexicali

In [0]:
dbutils.widgets.dropdown("time_period", "weekly", ["weekly", "monthly", "daily"])

In [0]:
dates = spark.sql("select min(date) as min_date, max(date) as max_date from sales").collect()[0]
today = dates["max_date"]      # <-- use dataset's latest date for calculations

In [0]:
df_dates = spark.sql("select min(date) as min_date, max(date) as max_date from sales")
display(df_dates)

min_date,max_date
2023-08-27,2023-11-10

In [0]:
from datetime import timedelta

time_period = dbutils.widgets.get("time_period")

if time_period == "weekly":
    start_date = today - timedelta(days=today.weekday())
    end_date = start_date + timedelta(days=6)

elif time_period == "monthly":
    start_date = today.replace(day=1)
    next_month = (today.replace(day=28) + timedelta(days=4)).replace(day=1)
    end_date = next_month - timedelta(days=1)

else:  # daily
    start_date = today
    end_date = today

print("Start:", start_date)
print("End:", end_date)

Start: 2023-11-10
End: 2023-11-10

In [0]:
display(spark.sql(
    f"""select city, sum(sale) 
        from sales 
        where date between '{start_date}' and '{end_date}' 
        group by city"""
))

city,sum(sale)
Basse-Terre,6582
Brikama,6358
Apia,2563
Xining,8592
Novosibirsk,2080
Gothenburg,5506
Wichita,3328
Namangan,7752
Valletta,8303